<%= render 'shared/banner' %>

<div class="container rounded">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 ">
    <div class="col mb-4">
      <div class="card_landing">
        <%= image_tag "carrotsBundle.jpg", class: "card_img" %>
        <div class="card-body">
          <h5 class="card-title">Descubra</h5>
          <p class="card-text">O hortifruti <strong>que você procura</strong></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card_landing">
        <%= image_tag "localProducer.jpg", class: "card_img" %>
        <div class="card-body">
          <h5 class="card-title">Escolha</h5>
          <p class="card-text">Dos nossos <strong>produtores locais!</strong></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card_landing">
        <%= image_tag "productsMarket.jpg", class: "card_img" %>
        <div class="card-body">
          <h5 class="card-title">Receba</h5>
          <p class="card-text">Sem sair de casa e com <strong>agilidade!</strong></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card_landing">
        <%= image_tag "tableDinner.jpg", class: "card_img" %>
        <div class="card-body">
          <h5 class="card-title">Saboreie</h5>
          <p class="card-text">Fresco, saudável, <strong>no mesmo dia!</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
