<p id="notice"><%= notice %></p>
<div class="container d-flex justify-content-center" id="carousel_place">
  <%= render 'shared/carousel' %>
</div>

<div class="container" id="Table_place">
  <h1 class="text-center mb-5" id="Index_title">Veja nossos produtos, direto do produtor!</h1>


    <%= form_tag products_path, method: :get do %>
      <div class="row ml-1">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-lg",
            placeholder: "Encontre seu produto"
          %>
          <%= submit_tag "Buscar", class: "btn-lg btn-primary" %>
          <% end %>
      </div>   
 
  <hr>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Vendedor</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td>R$ <%= product.price %></td>
          <td><%= product.user.email %></td>
          <td><%= link_to 'Detalhar', product, class: "btn btn-primary rounded" %></td>

          <% if product.user == current_user %>
            <td><%= link_to '', edit_product_path(product), class: "fas fa-pencil-alt" %></td>
          <% end %>

          <% if product.user == current_user %>
            <td><%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <!-- alterar o caminho para a home?? -->
  <div class="container d-flex justify-content-center mb-5">
    <% if @user != current_user %>
      <%= link_to 'Adicionar novo produto', new_product_path, class: "btn btn-success w-50 rounded" %>
    <% end %>
  </div>
  <br>
</div>

