<div class="container">
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= cl_image_tag @product.photo.key, class: "card-img h-100 mw-50" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><strong><%= @product.name %></strong></h3>
          <h4 class="card-title">Quantidade</h4>
          <p class="card-text"><%= @product.quantity %> caixas</p>
          <h4 class="card-title">Valor unit.</h4>
          <p class="card-text">R$ <%= @product.price %>,00</p>
          <% if @product.user != current_user && current_user%>
            <%= simple_form_for [@product, @order] do |f|%>
              <%= f.input :ask, label: "Quantos você deseja?" %>
              <%= f.button :submit, value: "Comprar", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'Voltar', products_path, class: "btn btn-primary" %>
</div>
