

<div class="container">

  <div class="card-product">
    <%= cl_image_tag @product.photo.key %>
    <div class="card-product-infos">
      <h1><%= @product.name %></h1>
      <br>
      <h4>Quantidade</h4>
      <h6><%= @product.quantity %> caixas</h6>
      <br>
      <h4>Valor unit.</h4>
      <h6>R$ <%= @product.price %>,00</h6>
      <br>
      <% if @product.user != current_user && current_user%>
        <%= simple_form_for [@product, @order] do |f|%>
          <%= f.input :ask, label: "Quantos você deseja?" %>
          <%= f.button :submit, value: "Comprar", class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to 'Voltar', products_path, class: "btn btn-primary" %>
</div>
